/* TODO: Clean-up and re-organize */

html{
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  cursor: default;
  user-select: none;
  color: #FF00B2;
  --cust-border-color: #00FFFF;
  /*box-shadow: #3e84ad;*/
  --box-shadow-color: #008282;
  text-shadow: 0px 0px 40px #A40073;
}

.bordered{
  border: 3px solid var(--cust-border-color);
}

@font-face {
  font-family: "alienEncounters";
  src: url('fonts/Alien-Encounters-Solid-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lazer84";
  src: url('fonts/Lazer84.ttf') format('truetype');
}

.main{
  color: inherit;
  text-align: center;
  height: 300px;
  width: 650px;
  position: absolute;
  margin: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 200px var(--box-shadow-color);
  border-radius: 0px 0px 40px 40px;
}

.innerBox{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px var(--box-shadow-color);
}


#innerBoxMain{
  border-radius: 0px 0px 35px 35px;
  width: 644px;
  height: 294px;
}

#innerBoxTimer1, #innerBoxTimer2, #innerBoxSettings{
  visibility: hidden;
  box-shadow: inset 0 0 50px var(--box-shadow-color);
  margin: 0 auto;
  transform: translate(-15px, -15px);
}

#innerBoxTimer1, #innerBoxTimer2{
  border-radius: 15px 15px 0px 0px;
}

#innerBoxSettings{
  border-radius: 0px 15px 15px 0px;
}

.mainClock{
  border-radius: 0px 0px 40px 40px;
  background-color: black;
  width: 644px;
  height: 294px;
}

h1{
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: absolute;
  margin: auto;
  font-size: 148px;
}

h1,h4,h5{
  font-family: "alienEncounters";
  letter-spacing: 4px;
}

.clockHM{
  width: 400px;
  padding-right: 25px;
}

.clockAMPM{
  bottom: 30%;
}

.clockSec{
  top: 28%;
}

h4{
  left: 74%;
  position: absolute;
  padding-left: 15px;
  width: 80px;
  font-size: 48px;
  margin: auto;
  display: inline-block;
}


.timer,.timerEnd{
  top: 0px;
  width: 200px;
}

.timer,.timerEnd, .timerSettings{
  box-shadow: 0px 0px 75px var(--box-shadow-color);
  z-index: -1;
  visibility: hidden;
  position: absolute;
  margin: auto;
  background-color: none;
  padding: 15px 15px 15px 15px;
}

.timer{
  left: 0;
  border-radius: 20px 20px 0px 0px;
}

.timerEnd{
  right: 0;
  border-radius: 20px 20px 0px 0px;
}


.timerSettings{
  right: 20px;
  top: 0%;
  width: 175px;
  height: 230px;
  background-color: black;
  border-radius: 0px 20px 20px 0px;
}


#endTime{
  font-size: 22px;
  text-align: center;
  border: none;
  border-bottom: 3px solid var(--cust-border-color);
  color: inherit;
  background: none;
  font-family: "Lazer84";
  position: relative;
  z-index: 1;
  width: 30px;
  text-shadow: inherit;
}

.timerSettings p{
  margin: 0 auto;
  font-family: "Lazer84";
  font-size: 16px;
}

.timerSettings h2{
  padding-top: 10px;
  font-size: 22px;
}

h2{
  font-family: "alienEncounters";
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 2px;
}

h5{
  font-size: 28px;
  margin-bottom: 0;
  margin-top: 0;
}

.buttonTimer{
  background-color: black;
  visibility: hidden;
  opacity: 0.2;
  width: 115px;
  font-family: "alienEncounters";
  letter-spacing: 2px;
  position: absolute;
  top: -50px;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, 0);
  border-radius: 8px;
  padding: 5px 8px;
  box-shadow: 0px 0px 75px var(--box-shadow-color);
}

h3{
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.colorSelector{
  position: relative;
  z-index: 1;
  width: 100%;
}

td{
  opacity: 0.2;
  width: 20px;
  height: 20px;
  border: 2px solid var(--cust-border-color);
  border-radius: 5px;
  box-shadow: 0px 0px 25px var(--box-shadow-color);
}

td:hover{
  cursor: pointer;
  /*box-shadow: 0px 0px 25px var(--box-shadow-color);*/
}

#redText, #redBorder{
  background-color: red;
}
#orangeText, #orangeBorder{
  background-color: #FF7400;
}
#greenText, #greenBorder{
  background-color: #BBFF00;
}
#blueText, #blueBorder{
  background-color: aqua;
}
#pinkText, #pinkBorder{
  background-color: #FF00B2;
}
#whiteText, #whiteBorder{
  background-color: white;
}

.name{
  cursor: default;
  font-size: 42px;
  position: absolute;
  margin: 0;
  padding: 30px;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 0;
  font-family: "Lazer84";
  opacity: 0.2;
  color: #FF6AD5;
  text-shadow: 2px 2px 1px #00FFFF, 5px 4px 1px #7E0058, 6px 5px 1px #006464, 0px 0px 60px #A40073;
}

.name p{
  margin: auto;
}

.toggleHolder{
  visibility: hidden;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

.buttonToggle{
  text-align: center;
  width: 175px;
  font-family: "alienEncounters";
  margin: 0 auto;
  border-radius: 8px;
  padding: 5px 8px;
  box-shadow: 0px 0px 75px var(--box-shadow-color);
}

.settingsHolder{
  visibility: hidden;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

.buttonSettings{
  display: run-in;
  text-align: center;
  width: 175px;
  font-family: "alienEncounters";
  margin: 0 auto;
  border-radius: 8px;
  padding: 5px 8px;
  box-shadow: 0px 0px 75px var(--box-shadow-color);
}

.buttonTimer, .buttonToggle, .buttonSettings:hover{
 cursor: pointer;
}
